*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #fff;
  color: #555;
  font-family: "Lato", 'Arial', "sans-serif";
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.row{
  max-width: 1140px;
  margin:0 auto;
}


nav{
  background: #000;
  width: 100% !important;
  margin-right: 0;
  /* margin-top: 20px; */
  height: 10%
}
.navbars{
  width: 100%!important;
  margin-left: 0;
  margin-right: 0;
}
.logo{
  height: 50px;
  font-size: 180%;
  width: auto;
  float: left;
  color: #fff;
  margin-left: 50px;
  margin-top: 10px;

}
.main-nav{
  float: right;
  list-style: none;
  padding-right: 40px;
  padding-left: 50px;

}
.main-nav li{
  display: inline-block;
  margin-right: 100px;
  margin-top: 20px;
  padding: auto;
  padding-right:20px;

}
.main-nav li a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;

}

.main-nav li a:hover, .winx:hover{
  border-bottom: 2px solid #fff;
  margin-bottom: 7px;
}

.mobile-nav-icon{
  float: right;
  margin-top: 30px;
  cursor: pointer;
}
.mobile-nav-icon i{
  color: white;
  font-size: 100%
  display:none;
}


/* HEADER STYLES */
header{
  height: 100vh;
  margin-bottom: 30px;
  overflow: hidden;

}
.carousel{
  height: 100vh;
    margin-bottom: 10px;
    margin-top: 30px;
    overflow: hidden;
}


.carousel-caption{
  bottom: 40%;
}
hero-text-box{
  width: 1140px;
  margin-top: 0;
  transform: translate(-50%, -50%);
}
img{

  z-index: 0;
}
.overlay{
  z-index: 2;
  background-color: rgba(0, 0, 0);
  width: 100%;
  height: 100%;
  opacity: .7;
  position: absolute;
}

/* ABOUT SECTION */
section-features{
  background: #ccc;
}
section .container{
  margin-top: 100px;
  padding-bottom: 30px;
}
.about-us{
  text-align: center;
  border-bottom: 2px solid #fff;
}

.longcc {
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: bold;
    font-family: "Lato";

    width: 100% !important;
  }

/* GALLERY */
* {
  -webkit-transition: 300ms;
  transition: 300ms;
}

.container .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.movie-card {
  background: #ffffff;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 315px;
  margin: 2em;
  border-radius: 10px;
  display: inline-block;
}

.movie-header {
  padding: 0;
  margin: 0;
  height: 367px;
  width: 100%;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.movie-card:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
}

.movie-content {
  padding: 18px 18px 24px 18px;
  margin: 0;
}

.movie-content-header, .movie-info {
  display: table;
  width: 100%;
}

.movie-title {
  font-size: 20px;
  margin: 0;
  display: table-cell;
  color: #000;
  font-family: 'Lato';
  text-transform: uppercase;
  text-align: center;
  padding-left: 60px;
  font-weight: bold;
}
.manOfSteel {
  background: url("http://henrycavill.org/images/Films/2013-Man-of-Steel/posters/3-Walmart-Superman-a.jpg");
  background-size: cover;
}

.babyDriver {
  background: url("https://i0.wp.com/media2.slashfilm.com/slashfilm/wp/wp-content/images/baby-driver-poster.jpg");
  background-size: cover;
}


.acrimony {
  background: url("img/acrimony.jpg");
  background-size: cover;
}
.axl {
  background: url("img/axl.jpg");
  background-size: cover;
}

.deer {
  background: url("img/deer.jpg");
  background-size: cover;
}

.aftermath {
  background: url("img/aftermath.jpg");
  background-size: cover;
}
.theDarkTower {
  background: url("http://cdn.collider.com/wp-content/uploads/2017/03/the-dark-tower-poster.jpg");
  background-size: cover;
  background-position: 100% 100%;
}

.bladeRunner2049 {
  background: url("http://cdn.collider.com/wp-content/uploads/2017/05/blade-runner-2049-poster-ryan-gosling.jpeg");
  background-size: cover;
  background-position: 100% 80%;
}
/* SIGN UP */
.btn{
  justify-content: center;
  align-items: center;
}

/*  */
/* FOOTER */
footer{
  background-color:#333;
  padding: 10px auto;
  margin-top: 0px;
  color: #888;
}

/* GALLERY PAGE */
 .gallery{
  /* padding-bottom: 25px; */
  background: #ebebeb;
}

.nav-explore{
  margin-bottom: 20px;
}

/* TESTIMONIAL */
.jumbotron-fluid{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(img/panther.jpg);
  color: #fff;
  background-attachment: fixed;
  margin-bottom: 0;
}

.testimonial-header{
  text-align: center;
  padding-bottom: 20px;


}
blockquote{
  padding: 2%;
  font-style: italic;
  line-height: 30px;
  font-size: 20px;
}
.first-test{
  margin-top: 7px;
}
/* SERVICES */
ion-icon{
  width: 50%;
  font-size: 70px;
  padding-bottom: 25px;
  padding-left: 20px;
}
.icon-header{
  text-transform: uppercase;
  text-align: justify;
}
.icon-header p{
  text-align: center;
}
/* .film{
  text-align: center;
} */


  /* SIGN UP */
  .sign-in-here{
    margin-top: 20px;
    text-transform: uppercase;
  }
  .signup-form{
  border: 2px solid red;
  margin-bottom: 25px;
  margin-top: 25px;
  background-color:#333;
  color: #fff;


  }

  #divide{
    border-bottom: 2px solid black;
  }
  .error{
    color: red;
    padding: 2px;
  }
  .shake{
    position: relative;
    animation: shake 1s;
      }
    @keyframes shake {
    0% , 100% {
      left: 0px;
    }
    20%, 80% {
      left: -20px;
    }
    40%, 60% {
      left: 20px;
    }
      80%{
      left: -20px;
    }

  }
  .sign-in-here{
    padding-bottom: 10px;
    border-bottom: 2px solid #333;
    margin-bottom: 25px;

  }
.sign-in-here a{
  color: #dc3545;
}
.reg{
  text-align: center;
  font-size: 30px;
  margin-left: 40%;
  color: #555;
  font-weight: bold;
}

.font-icon{
  color: #fff;
}
/*  penultimate*/

.more-info{
margin: 60px auto;

}
.more-info ul li{
  list-style: none;
  justify-content: start;
  align-items: start;
}

.more-info ul li  a{
  color: #000;
  font-family: 'Lato';
}






/* MEDIA QUERIES */
 @media only screen and (max-width:1200px){

}
}
@media only screen and (max-width:1023px){

}

@media only screen and (max-width:767px){
  body{
    font-size:16px;
}
footer, .more-info{
  display:none;
}
.carousel, .carousel-control-next, .carousel-control-prev{
  height: 100vh;
  margin-bottom: 0;
  padding-bottom: 0;
}
.carousel-control-prev, .carousel-control-next{
  top:4px;
}
#carouselExampleControls{
  top: 5%;
}
.hero-text-box{
  top: 100px;
}
.section-features{
  margin-top: 10px;
  text-align: center;

  }
  .rapport{
    margin: 0;
    padding: 0;
    top: -20%;
  }
  .section-features row, .section-features h5{
    text-align: center;
  }
  
}

@media only screen and (max-width:480px){
body{
  font-size: 14px;
}
header{
  margin-bottom: 0px;
  padding-bottom:auto;
  height: 60vh;
  padding-top: 0;
  margin-top: 0;
}
ul .main-nav{
  margin-bottom: 0;
  padding: 0;
}
#carouselExampleControls{
  padding: 0;
  margin: 0;
  height: 100vh;
  margin-top: 0;
}
.main-nav{
  margin-bottom:0;
}
.longcc{
  font-size: 15px;
  text-align: justify;
}
.hero-text-box h1 {
  font-size:1.5rem!important;
}
.hero-text-box a{
  font-size: 15px;
}
.navbars{
  font-size: 75%;
  float: none;
  display: inline-block;
  padding: 0;

}
.jumbotron-fluid{
    background-size:cover;
    background-position: absolute;
    background-repeat: no-repeat;

}
.navbars{

}
.signup-form{
  margin: 0;
  padding: 0;
  width:55vh;
  margin-bottom: 20px;
}
}
